Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Blocca accesso diretto a file/cartelle sensibili
    RewriteRule ^\.env - [F,L]
    RewriteRule ^vendor/ - [F,L]
    RewriteRule ^storage/ - [F,L]
    RewriteRule ^src/ - [F,L]
    RewriteRule ^config/ - [F,L]
    RewriteRule ^scripts/ - [F,L]
    RewriteRule ^database/ - [F,L]
</IfModule>

AddDefaultCharset UTF-8
